@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-1: 180deg 27% 98%;
  --color-background-2: 0deg 0% 100%;
  --color-foreground-1: 220deg 26% 14%;
  --color-border-1: 0deg 0% 93%;
  --color-primary-1: 0deg 85% 64%;
  --color-primary-2: 4deg 100% 68%;
}